/* https://github.com/0zelot */
html, body {
    word-wrap: normal;
    margin: 0;
    padding: 0;
    height: 90%;
}

footer {
    bottom: 0;
    width: 100%;
    height: 1.8rem;
}

div.error {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
}

div.contents {
    background-color: rgb(200, 212, 218);
    opacity: 0.99;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 8px 8px 8px 8px;
    padding: 1% 1% 1% 1%;
}

div.service-item {
    border-radius: 1% 1% 1% 1%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 1% 1% 1% 1%;
}

div.service-title {
    margin-top: -60px;
}

div.purchase {
    width: 40%;
    height: 80px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
}

img.service-list {
    height: 95%;
    width: 100%;
    min-width: 170px;
    min-height: 170px;
}

img.margin {
    margin: 2px 2px 2px 2px;
}

p.footer {
    color: white;
    opacity: 0.92;
    margin-top: auto;
    margin-bottom: auto;
}

p.title-error {
    margin: 0;
    font-size: 550%;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

p.minititle-error {
    margin: 0;
    font-size: 200%;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

p.text-error {
    margin: 0;
    font-size: 150%;
    color: white;
    text-shadow: 1px 1px 1px black;
}

span.service-name {
    font-size: 125%;
    font-weight: bold;
}

p.purchases-buyer {
    font-size: 90%;
    font-weight: bold;
    margin-bottom: -2px;
}

p.purchases-service {
    font-size: 75%;
}

p.service-title {
    font-size: 230%;
    font-weight: bold;
}

a.buy-button {
    float: right;
    margin-top: 20px;
}

.margin-up {
    margin-top: 120px;
}

input[type="text"] {
    text-align: center;
    opacity: 0.85;
}

#name {
    font-size: 110%;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgb(200, 212, 218);
}