<!-- https://github.com/0zelot -->
<!DOCTYPE html>
<html>
    <%- include("../includes/header"); -%>
    <body>
        <%- include("../includes/navbar"); -%>
        <div class="error text-center">
            <p class="title-error">Błąd 500</p>
            <p class="text-error">Wystąpił błąd.</p>
        </div>
        <%- include("../includes/style"); -%>
    </body>
</html>
