<!-- https://github.com/0zelot -->
<!DOCTYPE html>
<html>
    <%- include("../includes/header"); -%>
    <body>
        <%- include("../includes/navbar"); -%>
        <div class="error text-center">
            <p class="title-error"><i class="fas fa-spinner fa-spin"></i></p>
            <%- checkdetails %>
        </div>
        <%- include("../includes/style"); -%>
    </body>
</html>
