<!-- https://github.com/0zelot -->
<!DOCTYPE html>
<html>
    <%- include("../includes/header"); -%>
    <body>
        <%- include("../includes/navbar"); -%>
        <div class="error text-center">
            <p class="title-error">Gotowe</p>
            <p class="text-error">Twoja usługa powinna niebawem zostać aktywowana. Jeśli jednak w ciągu 15 minut to nie nastąpi, skontaktuj się z administracją.</p>
        </div>
        <%- include("../includes/style"); -%>
    </body>
</html>
