<!DOCTYPE html>
<html>
    <%- include("../includes/header"); -%>
    <body>
        <%- include("../includes/navbar"); -%>
        <div class="container-fluid rounded">
            <div class="col-xl-10 contents">
                <%- termsfile %>
            </div>
        </div>
        <%- include("../includes/footer"); -%>
    </body>
</html>