<!DOCTYPE html>
<html>
    <%- include("../includes/header"); -%>
    <body>
        <%- include("../includes/navbar"); -%>
        <main>
            <div class="container-fluid rounded">
                <div class="col-xl-10 contents">
                    <article>
                        <%- termsfile %>
                    </article>
                </div>
            </div>
        </main>
        <%- include("../includes/footer"); -%>
    </body>
</html>